main {
  width: 75vw;
  margin: 0 auto;
}

p {
  margin: 2rem 0;
  font-size: 2rem;
}

.datalist-ul {
  list-style-type: disc;
}

.datalist-ul li {
  margin: 0.2rem 0;
  font-size: 2rem;
}

.a-tag {
  text-decoration: none;
  color: blue;
}
