main {
  width: 75vw;
  margin: 0 auto;
}

p {
  margin: 0.5rem;
  font-size: 2rem;
}

.last-p {
  margin-top: 4rem;
}

.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.a-tag {
  text-decoration: none;
  color: blue;
}
