main {
    width: 75vw;
    margin: 0 auto;
}

p {
    margin: 4rem 0;
    font-size: 2rem;
}

.a-tag {
    text-decoration: none;
    color: blue;
}

.footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
}