*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff8c00;
  --secondary-color: #8bc34a;
  --background-color: #ffffff;
  --text-color: #333;
  --accent-color: #ff5722;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --my-gradient: linear-gradient(to right, #ff8c00, #ffa500);
}

.small-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.tempdiv {
  height: 5vh;
  display: flex;
  align-items: center;
  display: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  background-color: #f5f5f5;
  color: #333;
}

p {
  line-height: 1.3;
}

/* HEADER */

.header {
  height: 45px;
  background: var(--my-gradient);
  box-shadow: 0 2px 4px var(--shadow-color);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
}

.nav-ul {
  height: 45px;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-ul_li,
.nav-ul_li a,
.footer-ul li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  z-index: 3;
}

.darkAndLight {
  display: flex;
  align-items: center;
}

.nav-ul_li:hover,
.nav-ul_li a:hover,
.footer-ul li a:hover {
  color: whitesmoke;
}

/* MAIN */

/* main {
  height: 88vh;
} */

main h1 {
  text-align: center;
  margin: 6rem 0.5rem 1rem 0.5rem;
}

.hamburger-visible {
  display: none;
}

/* JS-ben lévő html elemek stílusai */

/*Az egyes receptek stílusai*/

.recipe-container {
  width: 75vw;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 0.8rem;
  box-shadow: 0 4px 8px var(--shadow-color), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.recipe-container:hover {
  transform: translateY(-0.5rem);
}

.recipe-name {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.italic-p {
  font-style: italic;
  line-height: 1.6;
}

.recipe-ingredients,
.recipe-preparation {
  margin: 1rem;
  font-size: 2.3rem;
}

.recipe-ul {
  list-style-type: disc;
  line-height: 1.3;
  margin-left: 3rem;
}

.recipe-ul li {
  margin: 5px 0;
}

.error-p {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
  font-style: italic;
}

/* TOGGLE Style */

.wrapper {
  position: relative; /* Ez a megoldás. */
  width: 140px;
  text-align: center;
}

.display-list {
  position: relative;
  cursor: pointer;
}

.hide-list {
  list-style-type: none;
  width: 140px;
  position: absolute;
  top: 0;
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  height: 170px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s, top 1s; /* Transition instead of animation */
}

.show {
  opacity: 1;
  visibility: visible;
  top: 4px;
}

.hide {
  opacity: 0;
  visibility: hidden;
  top: -200px;
}

/* Sötét / világos mód kezelése */

.hide-img {
  display: none;
}

.toggle-img {
  position: absolute;
  top: 7px;
  right: 20px;
}

/* FOOTER */

.footer {
  background: var(--my-gradient);
}

.footer,
.footer-ul {
  height: 65px;
}

.footer-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 2rem;
}

.footer-ul li {
  margin: 0 1.5rem;
}

.center {
  display: flex;
  align-items: center;
}

.footer-div-flex {
  display: flex;
}

.footer-div-flex li {
  margin: 1rem 1.5rem;
}

/*Hamburger menu láthatósága*/

.nav-ul.invisibleMenu {
  opacity: 0;
  visibility: hidden;
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
  .footer,
  .footer-ul {
    height: 15vh;
  }
  .footer-ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .hamburger-visible {
    display: block;
    position: absolute;
    left: 20px;
    top: 7px;
  }

  .tempdiv {
    display: flex;
    margin-left: 2rem;
    position: relative;
  }

  .hide-list {
    width: 200px;
    left: -30px;
    z-index: 10;
  }

  .nav-ul {
    position: absolute;
    top: 5vh;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
}

/*TODO:
  768px-képernyőméret alatt:
  A receptekre kattintva a lista a receptek alatt kell hogy megjelenjen, és a receptek lista magasságával 
  kell nőnie a kinyitott hamburger menünek, és a követekző elem annyival lejjebb fog csúszni.
  Ha az előbb említett blokk eltűnik, a többi elem visszarendeződik. A 2 elemnek a szélességének meg kell egyeznie.
*/
